.header {
  padding: 20px; 
  background-color: #3498db; 
  color: #ffffff; 
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* Apply styles to the container to center its content */
.container {
  display: flex;
  margin: 50px auto;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  max-width: 400px;
  height: 300px;
  overflow: hidden;
  background-color: antiquewhite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style the input fields */
.styled-input {
  width: 100%; /* Adjust the width as needed */
   /* Adjust the height as needed */
  padding: 10px; /* Add padding to provide some spacing between the input and border */
  border: 2px solid #ccc; /* Add a border to the inputs */
  border-radius: 8px; /* Add border radius for rounded corners */
  font-size: 16px; /* Set font size for the inputs */
  text-align: center; /* Center-align the text inside the inputs */
  margin: 10px 50px;
}

.styled-textArea {
  width: 100%; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  padding: 10px; /* Add padding to provide some spacing between the input and border */
  border: 2px solid #ccc; /* Add a border to the inputs */
  border-radius: 8px; /* Add border radius for rounded corners */
  font-size: 16px; /* Set font size for the inputs */
  /* Center-align the text inside the inputs */
  margin-bottom: 16px; /* Add some spacing between the inputs */
}

.action-button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #2184c6; /* Change the button color on hover */
}

footer{
  color: grey;
  text-align: center;
   
}









